/*
Theme Name: RealHomes Child Theme
Theme URI: http://themeforest.net/item/real-homes-wordpress-real-estate-theme/5373914
Description: Child theme for RealHomes.
Author: Inspiry Themes
Author URI: http://www.inspirythemes.com/
Template: realhomes
Version: 1.2
*/

#logo {
    margin-top: -10px;
}

#logo a, #logo img {
    padding: 4px 0;
}


/*edit 07/06/2015*/

#scroll-top{ background: #f3b50a !important} 
#scroll-top:hover { background: #dfa300 !important} 

.pagination a {
  background-color: #1c1c1c;
}

.more-option-trigger a:hover { color: #dfa300; }

.view-type a.grid.active .boxes, .view-type a.grid:hover .boxes, .view-type a.list.active .boxes, .view-type a.list:hover .boxes { fill: #f3b50a;}

#filter-by a:focus, #filter-by a.active, #filter-by a:hover {
  border-color: #f3b50a;
  background-color: #f3b50a;
}

.gallery-item .media_container {
 background: rgba(243, 181, 10, 0.9);
}

#comments-title, #contact-form #reply-title, #respond #reply-title, .form-heading { border-top: 2px solid #f3b50a;}
#footer .widget ul.featured-properties li .price, ul.featured-properties li .price { color: #da4f49;}

::selection {background: #f3b50a;}

/*edit 07/06/2015*/

.share-networks.clearfix img {
    padding: 0 10px;
}
a:hover { color: #dfa300; }